{% load i18n %}

<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }
</style>

<div class="well well-lg" style="padding-top:5px; padding-bottom:15px; margin-top:20px;">

    <h3 class="panel-sub-heading">
        Instructions for Part II:
    </h3>

    <p>
       In the second part of the experiment, you will be randomly paired with one other participant. Your task is to predict each element in the sequence that the other participant just submitted. You will guess one element at a time, i.e. H or T, by clicking on the respective buttons. After guessing a particular element in the other participant’s sequence, you will be shown his/her actual choice along with all previous elements.
    </p>

    <p>
    For example, suppose the first 6 elements of the other participant’s sequence are H,H,T,H,T,T. When guessing the second element, you will only know that his/her first selection was H. After you submit your guess, we will reveal the other participant’s actual choice, i.e. H. Thus, when guessing the third element, you will know that the previous two were H,H; and when you guess the sixth element you would know that the other participant’s sequence up to this point is H,H,T,H,T, and so on.
    </p>

    <p>
    The number of lottery tickets you will earn in this part of the experiment depends on the accuracy of your predictions. To start out you will be given 100 additional lottery tickets. You will win one extra ticket for every element that you correctly predict, but you will lose one ticket for every incorrect guess.
    </p>

    <p>
    When you are ready, please press “Next” to proceed to the next screen.
    </p>



</div>
