{% load i18n %}

<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }
</style>

<div class="well well-lg" style="padding-top:5px; padding-bottom:15px; margin-top:20px;">

    <h3 class="panel-sub-heading">
        Overview
    </h3>
    <p>
        This study examines how people’s decisions depend on the choices of others.
    </p>

    <p>
        At the end of the experiment, you will receive a fixed payment of $20 for your participation. In addition, we will raffle off a $75 cash prize [in sessions with less than 10 participants, the prize equals $7.50 times the number of subjects] among all participants of the session. Your chances of winning the raffle will depend on how well you do in the experiment. Specifically, in each part of the experiment you will have the chance to earn virtual lottery tickets. After everybody has completed the experiment, the experimenter’s computer will randomly draw one lottery ticket from all that have been earned during this session. The prize will then go to the participant who earned this particular ticket. It is, therefore, in your best interest to earn as many tickets as possible. On average, subjects earn $27.50.
    </p>

    <p>
        Throughout the experiment, please follow the instructions on your screen very carefully. If any at point you do not understand what you are being asked to do, please raise your hand so that the experimenter can provide clarification.
    </p>

    <p>
        Do not open the envelope on your desk until you are told to do so.
    </p>

    <p>
        At the end of the study, your total payment will be shown on the screen. This will include your $20 show up fee. When you are finished, please go to the experimenter station to receive your payment.
    </p>

    <p>
        It will take approximately 1.5 to 2 hours to complete the experiment. While the session is in progress, you may not talk or otherwise communicate with each other.
    </p>

    <p>
        Below follows important information regarding your rights as well as answers to some frequently asked questions. Please read these carefully before proceeding to the next screen.
    </p>

    <p>
        <strong>Participation is voluntary</strong><br>
        It is your choice whether or not to participate in this research. If you choose to participate, you may change your mind and leave the study at any time. Refusal to participate or stopping your participation will involve no penalty or loss of the $20 payment you will receive for showing up on-time to this study.
     </p>

    <p>
        <strong>What is the purpose of this research?</strong><br>
        The purpose of this research is to better understand how people make decisions based on how they expect others to behave. We will ask you to make some simple decisions, as in choosing between heads and tails on a coin flip. We will then analyze the determinants of these decisions.
    </p>

    <p>
        <strong>How long will I take part in this research?</strong><br>
        Your participation will involve one session, which will last approximately 1.5 to 2 hours.
    </p>

    <p>
        <strong>What can I expect if I take part in this research?</strong><br>
        This study will take place through a specially designed computer software. There are four parts to the experiment. Before each part you will be shown a set of instructions, which explain what you are being asked to do in this part of the study and how your payoff depends on your choices and that of other participants. In some parts of the study you will be asked to make a binary choice, i.e. between heads and tails of a fair coin. In other parts, you will also be asked about how likely you think it is that another, randomly selected participant chooses heads. All earnings will be rounded to the nearest integer. After you complete the experiment, the amount of money you have earned will be displayed on your screen. You can then go to the station at the front of the room to receive your payment.
    </p>

    <p>
        <strong>What are the risks and possible discomforts?</strong><br>
        The risks and possible discomforts with this study are minimal. If at any time you feel uncomfortable, you are free to leave the study. You will still receive your payment for showing up.
    </p>

    <p>
        <strong>Are there any benefits from participating in this research study?</strong><br>
        With this research, we aim to learn more about what strategies individuals use to make decisions and how these strategies depend on their beliefs about the behavior of others. Results from this study will inform the design of further research into how individuals behave in situations which may or may not involve strategic interactions. Besides being paid at least $20, you help advance this research by participating in our experiment. We are not aware of any other benefits.
    </p>

    <p>
        <strong>Will I be compensated for participating in this research?</strong> <br>
        You will receive $20.00 for showing up to the study on-time. In addition, we will raffle off a $75 cash prize [in sessions with less than 10 participants, the prize equals $7.50 times the number of subjects] among all participants of the session. Your chances of winning the raffle will depend on how well you do in the experiment. Specifically, in each part of the experiment you will have the chance to earn virtual lottery tickets. After everybody has completed the experiment, the experimenter’s computer will randomly draw one lottery ticket from all that have been earned during this session. Whichever participant owns this ticket will receive the prize. Total earnings may thus vary between $20 and $95 [$X = 7.5* number of participants for sessions with less than 10 participants]. On average, subjects will earn $27.50. If you choose to leave the study early, you will receive your show-up fee to the study but you will not receive any additional payments.
    </p>

    <p>
        <strong>If I take part in this research, how will my privacy be protected? What happens to the information you collect?</strong> <br>
        The data collected during this study will be handled and stored in accordance with Northwestern policy. There is minimal risk to participants, in that subjects could be identified from the information provided. We will take extensive precautions to keep all data secure in order to protect confidentiality. As part of this effort, your actual identity will remain unknown to the researchers conducting this study; only an anonymous ID number will be released to the researchers. The results of this research may be published, but neither you name nor the anonymous ID number will be used.
    </p>

    <p>
        <strong>If I have any questions, concerns or complaints about this research study, who can I talk to?</strong>
        Any questions can be directed to Professor Jörg Spenkuch, who can be reached at j-spenkuch@kellogg.northwestern.edu or at 847-467-0921 for any of the following:
    </p>

    <ul>
        <li> If you have questions, concerns, or complaints,</li>
        <li> If you would like to talk to the research team,</li>
        <li> If you think the research has harmed you, or </li>
        <li> If you wish to withdraw from the study.</li>
    </ul>

    <p>
        This research has been reviewed by the Northwestern University IRB Office. They can be reached at 847-467-1723 for any of the following:
    </p>

    <ul>
        <li> If your questions, concerns, or complaints are not being answered by the research team, </li>
        <li> If you cannot reach the research team, </li>
        <li> If you want to talk to someone besides the research team, or </li>
        <li> If you have questions about your rights as a research participant.</li>
    </ul>

    <p>
        If you want a copy of the information above for your records, please ask the experimenter for a print-out. If you would you like documentation linking you to this research study, please email your request to Professor Jörg Spenkuch at j-spenkuch@kellogg.northwestern.edu
    </p>




</div>
