{% extends "global/Base.html" %}
{% load staticfiles floppyforms otree_tags %}

{% block title %}
    Coin Sequence: Round ({{ num_q }} of {{ total_q }})
{% endblock %}

{% block content %}
   {% if num_q == 1 %}
    <p>
        {% formrow form.training_question_1 with label="Your choice" %}
    </p>
    {% elif num_q == 2 %}
    <p>
         {% formrow form.training_question_2 with label="Your choice" %}
    </p>
    <p class="text-info">Your sequence: {{ answer1 }}</p>
    {% elif num_q == 3 %}
    <p>
        {% formrow form.training_question_3 with label="Your choice" %}
    </p>
    <p class="text-info">Your sequence: {{ answer1 }} {{ answer2 }}</p>

    {% endif %}

    {% next_button %}
    {% include 'demo_game2/Instructions.html' %}

{% endblock %}